/* Text Style */

html {
    font-family: Optima, sans-serif;
    color: #ffffff;
}
h1, nav li:first-child{
    font-size: 1.5em;
}
h2, h3 {
    font-size: 1em;
    color: #590242;
}
h1, h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2em;
}
p, dt, dd, #links a{
    font-size: .75em;
    line-height: 1.5em;
}
li {
    text-transform: uppercase;
}
nav li:first-child {
    font-variant: small-caps;
    text-transform: unset;
    font-weight: bold;
}
a:link, a:visited, a:hover, a:active, #playlists h3, #curated h3 {
    color: #ffffff;
}
dt, dd {
    color: #590242;
}
dt {
    font-style: italic;
}
/* Style */

html {
    background-color: #020659;
}
body  {
    display: grid;
    margin: 0 auto;
    width: 375px;
    background-color: #ffffff;
  }
#bio {
    background: linear-gradient(90deg, #2104D9, black);
    padding: 0px 75px 15px 25px;
    grid-row-start: 2;
}
h1{
    margin: 0;
}
#bio p {
    margin: 0;
}
nav{
    background-color: #020873;
    grid-row-start: 1;
}
nav h2 {
    display: none;
}
nav ul {
    text-decoration: none;
    text-align: center;
}
nav li {
    list-style: none;
    padding: 5px 0 5px 0;
}
nav li:first-child {
    position: absolute;
    margin-left: 125px;
    top: 11px;
}
nav li:hover {
    background-color: #590242;
}
a {
    text-decoration: none;
}
ul{
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    margin:0;
    padding-left:0;
    padding-bottom: 5px;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}
#trending_box, #playlists_box, #curated_box {
    margin-top: 15px;
    margin-bottom: 15px;
}
h2 {
    padding-left: 30px;
    margin-bottom: 0;
}
#links {
    margin:2% 0 5% 10%;
    width:150px;
    padding-top:8px;
    padding-bottom:8px;
    background-color:#590242;
    display: block;
    text-align:center;
    border-radius: 5px;
}
#links:hover {
    background-color: #020659;
}
#trending, #playlists, #curated {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width:375px;
    overflow:scroll;
    overflow-y: hidden;
}
#trending section{
    margin: 10px;
    position: relative;
}
#trending div {
    position: absolute;
    top: 251px;
    background-color: rgba(255, 255, 255, .75);
    padding: 5px;
    height: 50px;
    width: 350px;
}
#trending div h3, dl{
    margin: 0;
}
dl {
    display: flex;
}
dt {
    padding-right: 5px;
}
dd {
    margin-left: 5px;
}
audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
}
audio::-webkit-media-controls-mute-button {
    background-color: #ffffff;
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: #ffffff;
    border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
    background-color:rgba(255, 255, 255, .5);
}
#playlists {
    background-color: #2699FB;
}
#playlists section {
    background-color: #0D8dfb;
}
#curated {
    background-color:#020873;
}
#curated section {
    background-color:#020659;
}
#playlists section, #curated section {
    width:150px;
    text-align: center;
    margin: 10px 20px 10px 10px;
    padding: 5%;
}
#playlists section:last-child, #curated section:last-child {
    margin-right:10px;
}
#playlists h3, #playlists p, #curated h3, #curated p {
    margin: 0;
}
#playlists p, #curated p {
    padding: 0px 10px 0px 10px;
    margin-bottom: 50px;
}
#trending_box ::-webkit-scrollbar {
    width: 15px;
}
#trending_box ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}
#trending_box ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius:5px;
}
#trending_box ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}
#playlists_box ::-webkit-scrollbar, #curated_box ::-webkit-scrollbar {
    width: 15px;
}
#playlists_box ::-webkit-scrollbar-track, #curated_box ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #020659;
}
#playlists_box ::-webkit-scrollbar-thumb, #curated_box ::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;
}
#playlists_box ::-webkit-scrollbar:hover, #curated_box ::-webkit-scrollbar:hover {
    background: #ffffff;
}
footer {
    font-size: .75em;
    text-align: center;
    background-color: #ffffff;
    color: #590242;
    padding-bottom: 10px;
}

@media screen and (min-width:834px) {
    body {
        width:834px;
        margin: 0 auto;
    }
    ul {
        overflow: visible;
        position: absolute;
        top: 8px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    label span, input {
        display: none;
    }
    li {
        padding-right:30px;
    }
    nav li:first-child {
        position:unset;
    }

    main{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    #playlists, #curated {
        width: 417px;
        grid-template-columns:1fr;
        height:515px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #playlists section, #curated section{
        display:grid;
        grid-template-areas:
        "image name"
        "image script";
        width: 350px;
        margin-right:10px;
        padding:3%;
    }

    #playlists section p, #curated section p {
        grid-area: script;
    }

    #playlists section img, #curated section img {
        grid-area: image;
    }

    #playlists section h4, #curated section h4 {
        grid-area: name;
        bottom: 10px;
    }

    #trending_box {
        grid-column:1/3;
    }

    #trending {
        width: 834px;
    }

    #links {
        float:right;
        margin-right: 2%;
    }
}